name: testing PR

on:
  merge_group:
  pull_request: 
    branches: 
      - 'main'

env:
  REMOTE_REPO: "domainaware/parsedmarc"
  BASE_BRANCH: "main"   
  
jobs:
  check-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - uses: ./.github/actions/get-last-release-version
      id: release-infos
      with:
        REPO: ${{ env.REMOTE_REPO }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - uses: ./.github/actions/test
      if: ${{ steps.release-infos.outputs.version != '' }}
      with:
        VERSION: ${{ steps.release-infos.outputs.version }}